body{
  background-image: url("./assets/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
h1, h4 {
  margin: 10px;
}
.crossed{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #6e0f00;
  -webkit-text-decoration: line-through;
  -webkit-text-decoration-thickness: 2px;
  -webkit-text-decoration-color: #6e0f00;
  -moz-text-decoration: line-through;
  -moz-text-decoration-thickness: 2px;
  -moz-text-decoration-color: #6e0f00;
  -ms-text-decoration: line-through;
  -ms-text-decoration-thickness: 2px;
  -ms-text-decoration-color: #6e0f00;
  background: #c2c2c0;
}
ul, li{
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

li{
  margin: 5px;
  cursor: pointer;
  text-align: left;
}